/* sheet for double resolution screens */

ul#thumbs a { background-size:auto 140px; }

ul#thumbs a#oscars2012 { background-image: url("/images/oscars2012_crop@2x.jpg"); }
ul#thumbs a#blackmaria { background-image:url("/images/blackmaria_crop@2x.jpg"); }
ul#thumbs a#foodbankzine { background-image:url("/images/foodbank_crop@2x.jpg"); }
ul#thumbs a#posters { background-image:url("/images/2001_crop@2x.jpg"); }
ul#thumbs a#lost { background-image:url("/images/lost_crop@2x.jpg"); }
ul#thumbs a#portfolio { background-image:url("/images/portfolio_crop@2x.jpg"); }
ul#thumbs a#terrapinblue { background-image:url("/images/terrapinblue_crop@2x.jpg"); }
ul#thumbs a#kineticproverb { background-image:url("/images/kinetic_crop@2x.jpg"); }
ul#thumbs a#portfolioforipad { background-image:url("/images/portfolioipad_crop@2x.jpg"); }
ul#thumbs a#piggybankco { background-image:url("/images/piggybank_crop@2x.jpg"); }
ul#thumbs a#editorial { background-image:url("/images/editorial_crop@2x.jpg"); }
ul#thumbs a#influx { background-image:url("/images/influx_crop@2x.jpg"); }
ul#thumbs a#groundhog { background-image:url("/images/grounhog_crop@2x.jpg"); }