#main { margin:40px 0; padding:3%; width:94%; }

#main.lost a img { width:32%; margin:0 2% 2% 0; float:left; }
#main.lost a:nth-child(3n+2) img { margin:0 0 2% 0; }

@media screen and (min-width : 480px) { 
	#main.lost a img { width:23.5%; }
	#main.lost a:nth-child(3n+2) img { margin:0 2% 2% 0; }
	#main.lost a:nth-child(4n+2) img { margin:0 0 2% 0; }	
	}

@media screen and (min-width : 600px) {
	#main.lost a img { width:18.4%; }
	#main.lost a:nth-child(4n+2) img { margin:0 2% 2% 0; }
	#main.lost a:nth-child(5n+2) img { margin:0 0 2% 0; }
}

@media screen and (min-width : 768px) {
	#main #desc { width:100%; }
	#main.lost a img { width:15%; }
	#main.lost a:nth-child(5n+2) img { margin:0 2% 2% 0; }
	#main.lost a:nth-child(6n+2) img { margin:0 0 2% 0; }
	#main.lost img:hover { -webkit-transform: scale(2); -webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms; }
	#main.lost a.last { margin-bottom:80px; }
}

@media screen and (min-width:960px) {
	#main { margin: 30px auto; } 
	#main #desc.short { width:100%; } 
	#main.lost a img { width:9.1%; margin:0 1% 1% 0; }
	#main.lost a:nth-child(3n+2) img, #main.lost a:nth-child(4n+2) img, #main.lost a:nth-child(5n+2) img, 
	#main.lost a:nth-child(6n+2) img { margin:0 1% 1% 0; }
	#main.lost a:nth-child(10n+2) img { margin:0 0 1% 0; }
}