w
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

/*ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }*/

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #b6d8c9; color:#fff; text-shadow: none; }
::selection { background:#b6d8c9; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #A3D7C2; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  font-family: Georgia; 
  background:#f6f7f1;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #a3d7c2; text-decoration:none; }
/*a:hover { color: #ddd; }*/


/**
 * Primary styles
 *
 * Author: Gideon Slife gideonslife.com
 */
a { -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; }
header { height: 50px; background: #5b6e67 url("../img/header.png"); }
#header-wrap { margin: 0 auto; position: relative; width: 100%; }
header a#home { float:left; width:150px; height:70px;}

@-webkit-keyframes blink { 0% { background-color: #a3d7c2; } 65% { background-color: #c0e1d4; } 100% { background-color: #a3d7c2; } }

header h1 { width:170px; height:170px; display:block; 
	border-radius:85px; -moz-border-radius:85px; -webkit-border-radius:85px; -khtml-border-radius:85px;
	text-align:center; background:#a3d7c2; position:relative; top:-86px; left:-22px; -webkit-transition:background-color 1s linear;}
header h1:hover { -webkit-animation-name: blink; -webkit-animation-duration: 5.4s; -webkit-animation-iteration-count: infinite;
	 -webkit-animation-timing-function: ease-in-out; }
header h1 img {width:132px; height:auto; position:relative; top:55%; margin:0 0 0 10px;}

header nav { font-size:1.07em; float: right; padding-right:3px; } /* 14/13 */
header nav li { float:left; padding:0; font-family:'BebasRegular','Helvetica Neue',Helvetica,Arial,sans-serif; letter-spacing:1px;}

header nav a { padding: 5px 6px; display: block; text-transform: lowercase; color:#fff; border-top: transparent solid 10px; text-shadow:2px 2px rgba(0,0,0,0);
	-webkit-transition:border-top 0.3s linear, text-shadow 0.3s linear; -moz-transition:border-top 0.3s linear, text-shadow 0.3s linear;
	-o-transition:border-top 0.3s linear, text-shadow 0.3s linear; transition:border-top 0.3s linear, text-shadow 0.3s linear; 
	}
header nav li a:visited { color:#FFF; }
header nav li a:hover { border-top: rgba(0, 0, 0, 0.3) solid 7px; text-shadow:2px 2px rgba(0,0,0,0.4); 
	-webkit-transition:border-top 0.3s linear, text-shadow 0.3s linear; -moz-transition:border-top 0.3s linear, text-shadow 0.3s linear;
	-o-transition:border-top 0.3s linear, text-shadow 0.3s linear; transition:border-top 0.3s linear, text-shadow 0.3s linear; }

#main { width: 93.75%; margin: 46px 0; padding:0 10px; } /*140/320*/
#main p.section, div.gogogaget { font-size:1.5em; border-bottom:#444 2px solid; padding:0 0 4px 0; margin:0 0 15px; color:#444; width:100%; } /* 18/16 */

ul#thumbs {list-style-type:none; margin-bottom:5px; float:left; width:100%;}
ul#thumbs li { float:left; width:46.8% } /*140/320*/
ul#thumbs li:nth-child(odd) {margin-right:20px;}
ul#thumbs li:last-child {margin-bottom:30px;}
ul#thumbs a { width:100%; height:140px; float: left; margin:0 0 20px 0; background:#999 50%;} 
/*ul#thumbs a:hover article {opacity:1; -webkit-transition: opacity .3s linear;}*/

ul#thumbs a#oscars2012 { background-image: url("../images/oscars2012_crop.jpg"); }
ul#thumbs a#blackmaria { background-image:url("/images/blackmaria_crop.jpg"); }
ul#thumbs a#foodbankzine { background-image:url("/images/foodbank_crop.jpg"); }
ul#thumbs a#posters { background-image:url("/images/2001_crop.jpg"); }
ul#thumbs a#lost { background-image:url("../images/lost_crop.jpg"); }
ul#thumbs a#portfolio { background-image:url("/images/portfolio_crop.jpg"); }
ul#thumbs a#terrapinblue { background-image:url("/images/terrapinblue_crop.jpg"); }
ul#thumbs a#kineticproverb { background-image:url("../images/kinetic_crop.jpg"); }
ul#thumbs a#portfolioforipad { background-image:url("/images/portfolioipad_crop.jpg"); }
ul#thumbs a#piggybankco { background-image:url("/images/piggybank_crop.jpg"); }
ul#thumbs a#editorial { background-image:url("/images/editorial_crop.jpg"); }
ul#thumbs a#influx { background-image:url("/images/influx_crop.jpg"); }
ul#thumbs a#groundhog { background-image:url("/images/groundhog_crop.jpg"); }

ul#thumbs article { margin:10px; padding: 10px; background: rgba(0, 0, 0, 0.6); -webkit-transition: opacity .3s linear;
	font-family: Georgia; font-style: italic; text-align: center; font-size: 1.1em; color:#fff; line-height:1em; opacity:1;}
ul#thumbs article h2 { margin-bottom:3px; }
ul#thumbs article p {font-size:0.8em;}

/* Image Pages */
div.gogogaget { text-align:right; opacity:.7; font-size:1.2em; margin: 0 0 10px; }
#back, #prev, #next { color:#444; }
#back:hover, #prev:hover, #next:hover { color:#111; }
#main #back { float:left; }
#main img, #main video {max-width:100%; height:auto; margin:0 0 10px 0;}
#desc h2 { font-size:1.6em; font-weight:bold; margin: 0 0 1px 0; }
#desc h3 { color:#555; margin: 0 0 15px; }
#desc p {margin-bottom:15px; font:14px/1.7 "MuseoSlab500","Lucida Grande",Helvetica,Sans-Serif;}
#desc p a {background: #A3D7C2; color:#fff; padding:4px; }
#desc p a:hover {background: #FFEA39; color:#637B94;}

.amp { font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: italic; font-size:1.1em; font-weight:normal;}
ul#oops { margin-left:0px; color:#A3D7C2; }
#oops a { font:18px/1.5 "MuseoSlab500","Lucida Grande",Helvetica,Sans-Serif; padding: 0 2px; border-bottom:1px dotted; }
#oops a:hover { background-color:#FFEA39; color:#637B94;}

.viewer li{
	-webkit-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	-moz-transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
	transition: width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/** Media queries for responsive design. * These follow after primary styles so they will successfully override. 
* Default is iPhone portrait (320px)  */
/* iPhone landscape */
@media screen and (min-width : 480px) {
	header a#home { width:200px;}
	header h1 { width:200px; height:200px; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; -khtml-border-radius:100px;
 				top:-100px; left:20px;}
	header h1 img {width:152px; margin:0;}
	header nav { font-size:1.307em; padding-right:10px; } /* 17/13 */
	header nav a { padding-top: 5px; vertical-align:baseline; }
	
	#main { width: 93.75%; margin: 60px 0; padding:0 15px; } /* 450/480 */
	ul#thumbs li { width:47.833333%; } 
	ul#thumbs article { margin:25px; padding: 15px; color:#fff; line-height:1.25em;} /* 20/16 */
	
	#desc h2 { font-size:1.6em; } #desc h3 { font-size:1em; } #desc p { font-size:1.1em }
	#desc { color: #444; }
 	#main img {width:100%;}
	#main p.nav a:#back { padding-right:190px; }
	#desc p {margin-bottom:20px;}
}

/* larger mobile devices (android) */
@media screen and (min-width : 600px) {
	header nav a { padding: 5px 20px; }
	
	#main { width: 93.33333%; padding:0 20px; } /*560/600*/
	ul#thumbs li:nth-child(odd), ul#thumbs li {margin-right:10px;}
	ul#thumbs li:nth-child(3n) {margin-right:0;}
	ul#thumbs li { width:32.2%; }
	ul#thumbs article { margin:15px; padding: 15px;}
	
	/*#main img, #desc {width:70.6%;}*/ /*370/600*/
	div.gogogaget { /*width:138px; position: fixed; margin-left: 70%;*/ text-align:left;}
	#main div.gogogaget a#back { display:block; float:none;}
}

/* tablet things (iPad specs) */ /*!!!!! NEED TO DO IPAD WIDESCREEN !!!!!*/
@media screen and (min-width : 768px) {
	#main { width: 94.7916667%; padding:0 20px; } /*728/768 */x
	ul#thumbs li:nth-child(odd), ul#thumbs li {margin-right:19px;}
	ul#thumbs li:nth-child(3n) {margin-right:0;}
	ul#thumbs li { width:31.5934066%; } /*230/728*/
	
	
	#desc h2 { font-size:2.6em; } #desc h3 { font-size:1.3em; margin-top:5px; } #desc p { font-size:1.2em; padding:0 20px; }
	#main img {width:49%; margin: 0 0 .9% 0; }
	#main img+img { margin-left:.85%;}
	#main img.big, #main img.tiny { margin-left:0; }
	#main img.fullwidth { width:100%; }
	#main #desc { width:49%; float: left; margin-right:2%; }
	#main #desc p { color: #666; }
	#main #desc.fullwidth { width:100%; }
	
	div.gogogaget { width:100%; position: relative; float:right; }
}

/* It's desktop time! */
@media screen and (min-width : 960px) {
	#header-wrap { max-width:960px;}
	header h1 { top:-100px; left:20px;}

	#main { width: 95.833333%; margin:60px auto; max-width:1020px; } /*920/960*/
	ul#thumbs li:nth-child(odd), ul#thumbs li, ul#thumbs li:nth-child(3n) {margin-right:20px;}
	ul#thumbs li:nth-child(4n) {margin-right:0;}
	ul#thumbs li { width:23.3958333%; } /*215/960*/
	ul#thumbs article { opacity:0;}
	ul#thumbs a:hover article {opacity:1; -webkit-transition: opacity .3s linear;}
	
	#main img {width:38%; float:right; margin:0 0 1% 1%; 
		 -webkit-transition-timing-function: ease-in; -webkit-transition-duration: 200ms;
		 -moz-transition-timing-function: ease-in; -moz-transition-duration: 200ms;} /*685/960*/
	#main img:hover {-webkit-transform: scale(1.25); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 500ms;
		-moz-transition-timing-function: ease-out; -moz-transition-duration: 500ms;}
	#main img.big, #flashcontent, video { width:59%; float:left; margin:0 0 20px 0; -webkit-transform:none; }
	#main img.tiny { width: 29%; margin-left:0; }
	#main #desc { width: 39%; position: relative; }
	#main #desc.short { width: 20%;}
	#main #desc.fullwidth { width:39%; }
	#desc.bump { margin-top:40%}
	#imgwrap { float:right; width:59%; } #imgwrap img.big, #flashcontent, video { width:100%; float:left; margin:0 0 20px 0; -webkit-transform:none; }
	#imgwrap img.tiny { width: 50%; margin-left:0; }
}

  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}