* {
margin: 0;
padding: 0;
}

body {
background: #e2f4ff;
color: #e2f4ff;
font-family: Verdana, sans-serif;
font-size: 14px;
}

#header {
height: 119px;
width: auto;
background-image: url(../images/header-bg.gif);
}

#header div {
position: static;}

#wrapper {
display: block;
position: relative;
top: -119px;
}

#inner-wrapper {
width: 950px;
margin: 0 auto;
min-height: 200px;
position: relative;
}

/* header */

#header-wrapper {
height: auto;
overflow: visible;}

header {
height: 119px;}

header ul {
list-style: none;
position: absolute;
right: 0;
top: 20px;
font-size: 12px;
}

header li {
float: left;
padding-left: 20px;
color: #333;
}

header ul li a {
text-decoration: none;
color: #e2f4ff}

header input {
position: absolute;
right: 0;
top: 48px;
font-size: 12px;} /* end header */

h1 {
font-size: 40px;
font-family: Georgia, serif;
text-rendering: optimizeLegibility;
padding: 30px 0px; */
}

h1 a {
text-decoration: none;
color: #e2f4ff;}

h2 {
font-size: 20px;
font-family: Georgia, serif;
text-rendering: optimizeLegibility;
color: #7f9cad;}

menu {
width: 100%;
height: 30px;
background: #7f9cad;
-moz-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
}

menu ul {
padding: 0;
margin: 0;
list-style: none;
}

menu li {
float: left;
position: relative;
width: 170px;
}

menu li a {
display: block;
color: #e2f4ff;
text-decoration: none;
height: 100%;
padding: 6px 0 6px 10px;
}

menu li a:hover {
text-decoration: none;
background: #42515a;}

#main {
float: left;
display: block;
height: auto;
background: #f7fcff;
-moz-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
box-shadow: 0px 6px 6px rgba(0,0,0,0.15);
color: #333;
padding: 10px;
line-height: 0;
}

/* home page */
.container-wide {
float: left;
width: 620px;
background-color: yellow;
margin-right: 10px;}

.container-narrow {
float: left;
width: 300px;}

#text {
float: left;
line-height: 12px;} /*home end*/

/* properties listing pages*/
.property {
float: left;
width: 300px;
margin-right: 10px;
line-height: 16px;}

.property a img {
border: black 1px;}

h3 a {
color: #7f9cad;
text-decoration: none;
line-height: 20px;
}/*end prop-listings*/

/*property page*/ 
.image {
float: left;
width: 600px;
height: 500px;
background-color: yellow;
margin-right: 10px;
overflow: hidden;}

.info {
float: left;
background-color: yellow;
width: 320px;
height: 500px;} /* property */

.rowblock {margin-bottom: 10px;}

.last {margin-right: 0;}

/* footer */

#footer-wrapper {
width: 950px;
margin: 0 auto;
min-height: 200px;
position: relative;
}

footer {
margin: 0 auto;
position: relative;
float: left;
width: 950px;
color: #333;
text-align: center;
font-size: 12px;
line-height: 30px;
top: -100px;
}

footer ul {
padding: 0 0 0 50px;
margin: 0;
list-style: none;
}

footer ul li {
float: left;
position: relative;
width: 70px;
}

footer a {
color: #7f9cad;
text-decoration: none;
border-bottom: 1px dotted #7f9cad;
}

#address {
text-align: right;
padding-right: 20px; 
}